/* RaffleWinner component
------------------------ */
.rafflewinner {
  &__date {
    margin-bottom: 2.5rem;
  }

  &__details {
    display: flex;
    align-items: center;
    background-color: rgba(129, 134, 148, 0.33);
    border-radius: 1rem;
    margin: 2rem 0;
    height: 6rem;

    img {
      width: 8rem;
      position: relative;
      top: -1.5rem;
    }

    h6 {
      margin: 0;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__upcoming {
    color: var(--color-text-muted);
  }
}
