/* Button component
------------------- */
.btn {
  height: 3.5rem;
  // width: 10rem;
  font-weight: 700;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;

  &--primary {
    background-color: var(--btn__primary-bg);
    color: var(--btn__primary-text);
  }

  &--secondary {
    background-color: var(--btn__secondary-bg);
    color: var(--btn__secondary-text);
    border: var(--btn__secondary-border);

    &:hover {
      background-color: var(--btn__secondary-bg--hover);
      color: var(--btn__secondary-text--hover);
    }
  }

  &--go {
    background-color: var(--btn__go-bg);
    color: var(--btn__go-text);
    border: var(--btn__go-border);

    &:hover {
      background-color: var(--btn__go-bg--hover);
      color: var(--btn__go-text--hover);
      border: var(--btn__go-border--hover);
    }
  }

  &--gamepass {
    background-color: var(--color-gamepass);
    width: 100%;
    border-radius: 0;
  }
}
