/* Button component
------------------- */
.btn {
  height: 3.5rem;
  font-weight: 700; // Text boldness
  border-radius: 0.5rem; // Smoother borders
  transition: all 0.3s ease-in-out; // Transition settings

  &--primary {
    background-color: var(--btn__primary-bg);
    color: var(--btn__primary-text);
  }

  &--secondary {
    background-color: var(--btn__secondary-bg);
    color: var(--btn__secondary-text);
    border: var(--btn__secondary-border);

    &:hover {
      background-color: var(--btn__secondary-bg--hover);
      color: var(--btn__secondary-text--hover);
    }
  }

  &--go {
    background-color: var(--btn__go-bg);
    color: var(--btn__go-text);
    border: var(--btn__go-border);

    &:hover {
      background-color: var(--btn__go-bg--hover);
      color: var(--btn__go-text--hover);
      border: var(--btn__go-border--hover);
    }
  }

  &--gamepass {
    background-color: var(--color-gamepass);
    width: 100%; // Take as much space as possibe vertically
    border-radius: 0; // No border radius, pointy corners
  }
}
