/* Menu component
----------------- */
.menu {
  display: flex; // Activate flex
  flex-direction: column; // Placing items below one another
  width: 95%;
  background-color: var(--bg-color-menu);
  padding: 1.5rem 2rem; // Spacing inside the element
  position: absolute; // Needed for positioning
  top: 0; // Placing on top
  right: -95%; // Initially off-screen, when active it slides into view
  z-index: 10; // Position on Z axis
  transition: right 0.3s ease-in-out; // Transition settings for right

  // Class when menu becomes visible
  &--active {
    right: 0;
  }

  // Menu buttons on top (user, exit)
  &__useractions {
    display: flex; // Activate flex
    align-items: center; // Aligning items center on the cross axis
    justify-content: space-between; // Equal space between items
  }

  // Container of avatar and username + name
  &__user {
    display: flex; // Activate flex

    // Container of username + name
    &-details {
      display: flex; // Activate flex
      flex-direction: column; // Placing items below one another
      justify-content: center; // Aligning items center on the main axis
      margin: 0 0.5rem; // Spacing outside the element

      // Username
      h5 {
        margin: 0; // Removing spacing outside the element
      }

      // Name
      p {
        margin: 0; // Removing spacing outside the element
        color: var(--color-text-muted);
      }
    }

    // User profile image
    &-avatar {
      border-radius: 50%; // Round corners
      height: 3rem;
    }

    // Border around the profile image
    &-border {
      display: flex; // Activate flex
      justify-content: center; // Aligning items center on the main axis
      align-items: center; // Aligning items center on the cross axis
      background: var(--btn__primary-bg);
      border-radius: 50%; // Round corners
      height: 3.3rem;
      width: 3.3rem;
    }
  }

  // Nav menus containing the games, raffle, products
  .nav {
    // Title of each list
    &__title {
      margin-bottom: 1rem;
    }

    // Unordered list
    &__list {
      padding: 0; // Spacing inside the element
      margin: 0; // Spacing outside the element

      li {
        display: flex; // Activate flex
        background-color: var(--bg-color-light);
        margin: 0.5rem 0; // Spacing outside the element
        padding: 0.625rem 1rem; // Spacing inside the element
        list-style: none; // Remove the dots

        img {
          margin-right: 0.5rem; // Spacing outside the element, right
        }
      }
    }
  }
}
