/* Leaderboard component
------------------------- */
.leaderboard {
  max-height: 25rem;
  overflow-y: auto; // If content is overflowing there will me scrolling in that container

  // Grid of the top 10 finishers
  &__grid {
    display: grid; // Activate grid
    grid-template-columns: 1fr; // 1 column
    padding: 1rem; // Spacing inside the element
  }
}
