/* Leaderboard component
------------------------- */
.leaderboard {
  // Grid of the top 10 finishers
  &__grid {
    display: grid; // Activate grid
    grid-template-columns: 1fr; // 1 column
    padding: 1rem; // Spacing inside the element
    max-height: 22rem;
    overflow-y: scroll; // If content is overflowing there will me scrolling in that container
  }

  &__timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 0.875rem 0 0.5rem 0;

    h5,
    p {
      margin: 0;
    }
  }
}
