/* RafflesPage component
----------------------- */
.rafflespage {
  margin-top: 6rem; // Spacing outside the element, top
  padding: 0 1rem; // Spacing inside the element

  // "See The Winners" button
  button {
    padding: 0 2rem; // Spacing inside the element
  }
}
