/* LeaderboardRow component
-------------------------- */
.leaderboardrow {
  display: flex;
  align-items: center;
  max-height: 25rem;

  &__placement {
    padding: 0.5rem;
    margin: 0 1rem 0 0;
    min-width: 3rem;
  }

  &__points {
    margin: 0;
    margin-left: auto;
    padding: 1rem;
  }

  .user {
    display: flex;
    align-items: center;
    overflow-x: auto;

    &__image {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
      background-color: #d9d9d9;
      border-radius: 50%;

      img {
        background-size: cover;
        background-position: center;
      }
    }
  }
}
