/* Challenge component
------------------------- */
.challenge {
  position: relative;

  // Gradient pseudoelement above the challenge
  &::before {
    content: '';
    position: absolute; // Needed for positioning
    width: 100%; // Take as much space as possible horizontally
    height: 15rem;
    top: 0; // Position from the right
    left: 0; // Position from the left
    background: linear-gradient(
      180deg,
      rgba(19, 26, 80, 0) 0%,
      #211a4b 30.73%,
      #3f1a3e 71.87%,
      rgba(77, 26, 57, 0) 100%
    );
    z-index: 100; // Position on the Z-axis
    transform: translateY(-50%); // Moving the pseudoelement on Y-axis
  }

  // Gradient pseudoelement below the challenge
  &::after {
    content: '';
    position: absolute; // Needed for positioning
    width: 100%; // Take as much space as possible horizontally
    height: 15rem;
    bottom: 0; // Position from the right
    left: 0; // Position from the left
    background: linear-gradient(
      180deg,
      rgba(19, 26, 80, 0) 0%,
      #211a4b 30.73%,
      #3f1a3e 71.87%,
      rgba(77, 26, 57, 0) 100%
    );
    z-index: 100; // Position on the Z-axis
    transform: translateY(50%); // Moving the pseudoelement on Y-axis
  }

  // Low opacity text behind title
  &__question {
    position: absolute; // Needed for positioning
    z-index: 101; // Position on the Z axis
    padding: 1rem; // Spacing inside the element
    font-size: 3rem; // Text size
    opacity: 0.25; // See-through
  }

  // Challenge component background
  &__poster {
    width: 100%; // Take as much space as possibe vertically
  }

  // Challenge title
  &__title {
    position: absolute; // Needed for positioning
    z-index: 101; // Position on the Z axis
    padding: 1.5rem 1rem; // Spacing inside the element
  }

  // Join challenge button with progress bar
  &__cta {
    position: relative; // Needed for positioning
    margin-top: -5rem; // Spacing outside the element, pulling the container up on the Y axis
    padding: 1rem 1rem 0; // Spacing inside the element
    z-index: 101;

    // "Score The Most Points" button
    button {
      width: 100%; // Take as much space as possibe vertically
    }

    // Progress bar below button
    progress {
      height: 1.5rem;
      width: 100%; // Take as much space as possibe vertically
    }
  }
}
