/* ProductCta component
--------------------- */
.product-ad {
  display: flex; // Activate flex
  flex-direction: column; // Placing items below one another
  padding: 1rem; // Spacing inside the element
  margin-top: 4rem; // Spacing outside the element, top
  text-align: center;
  align-items: center; // Aligning items center on the cross axis

  &__image {
    min-height: 3rem;
    margin-bottom: 4rem; // Spacing outside the element, bottom

    &--modified {
      margin-bottom: 1rem; // Spacing outside the element, bottom
    }
  }

  button {
    padding: 0 3rem; // Spacing inside the element
  }
}
