/* ChallengepageFG component
--------------------------- */
.challengepagefg {
  &__score {
    display: flex; // Activate flex
    margin-bottom: 0.5rem; // Spacing outside the element, bottom
    p {
      margin: 0; // Spacing outside the element
    }
  }
}
