/* Gamepasspage styles
-----------------*/
.gamepasspage {
  background-image: url('/src/assets/legion_icon-bg.svg');
  background-repeat: no-repeat;
  background-position: top 50% right -10%;
  background-size: 15rem;
}
