/* GoProductPage
---------------- */
.gopage {
  background-image: url('/src/assets/grainy-logo.svg');
  background-repeat: no-repeat; // One image on background
  background-position: top 52% left 0%; // Position of the image from top and rights
}
