/* JoinChallenge component
-------------------------- */
.join-challenge {
  display: flex; // Activate flexbox
  flex-direction: column; // Placing items below one another
  justify-content: center; // Aligning items center on the main axis
  margin-top: -1.75rem; // Spacing outside the element, top
  padding: 0 1rem; // Spaicing inside the element
  margin-bottom: 1rem; // Spacing outside the element, bottom
  position: relative;
  z-index: 101;

  // Challenge title and game name
  h3,
  p {
    margin-bottom: 0.5rem;
  }

  // Container of start and end time of the challenge
  &__time {
    display: flex; // Activate flexbox
    justify-content: space-between; // Equal space between elements

    // Start and end time of the challenge
    p {
      margin-bottom: 0rem; // Removing spacing outside the element, bottom
    }
  }

  // Game name
  &__muted {
    color: var(--color-text-muted);
  }

  // Progress bar
  &__progress {
    width: 100%; // Take as much space as possible horizontally
    height: 1.5rem;
  }

  &__buttons {
    display: flex; // Activate flexbox
  }
}
