// Root variables
:root {
  // Primary button
  --btn__primary-bg: #3e8ddd;
  --btn__primary-text: #ffffff;
  // Secondary button
  --btn__secondary-bg: transparent;
  --btn__secondary-text: #ffffff;
  --btn__secondary-bg--hover: #ffffff;
  --btn__secondary-text--hover: #000000;
  --btn__secondary-border: 1px solid #3e8ddd;
  // Button Go
  --btn__go-bg: #ffffff;
  --btn__go-text: #000000;
  --btn__go-border: 1px solid #000000;
  --btn__go-text--hover: #ffffff;
  --btn__go-bg--hover: #000000;
  --btn__go-border--hover: 1px solid #ffffff;
  ///////////////////////////////////////////
  --bg-gradient: linear-gradient(
    180deg,
    #11184e 0%,
    #12194f 6%,
    #881a22 19.1%,
    #881b23 26.27%,
    #4e2067 35.34%,
    #232298 41.55%,
    #242398 59.28%,
    #111751 70.96%,
    #222197 100%
  );
  ///////////////////////////////////////////
  --bg-color-menu: #202134;
  --bg-color-dark: #0e101d;
  --bg-color-light: #2d2e40;
  --color-gamepass: #9bf00b;
  --color-text-muted: #818694;
  --color-transparent: rgba(129, 134, 148, 0.13);
}

body {
  background: var(--bg-gradient);
  background-repeat: no-repeat;
  background-size: 100% 5000px;
  position: relative;
}

.fancy-label {
  background-color: rgba(14, 16, 29, 0.3);
  margin-right: 0.5rem;
  color: var(--btn__primary-text);
  font-weight: 300;
  height: auto;
  padding: 0.2rem 0.5rem;
  word-break: break-all;
}

// Class name used for the bigger profile image
.aspect-ratio {
  width: 100%; // Horizontally fills the entire area
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  margin: 0 auto;

  // container for the content inside
  div {
    position: absolute; // The element is removed from the normal document flow

    // Setting the position of the div
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //

    img {
      width: 100%; // Horizontally fills the entire area
      height: 100%; // Vertically fills the entire area

      object-fit: cover; // To maintain its aspect ratio while filling the element's entire content box
      object-position: center center; // Positions the element in the center vertically and horizontally
    }
  }
}
