/* ChangeAvatar component 
------------------------- */
.change-image {
  display: flex; // Activate flexbox
  flex-direction: column; // Placing items below one another
  align-items: center; // Aligning items center on the cross axis

  // Image container
  &__main {
    margin-bottom: 1.5rem; // Spacing outside the element, bottom
    width: 12rem;
    height: 12rem;
    border-radius: 50%; // Round corners
    overflow: hidden; // Hiding parts of the image to make the image round

    // Main image
    img {
      height: 12.5rem;
      width: 12.5rem;
      object-fit: cover; // Image is filling the div
    }
  }

  // Remove avatar button under image
  button {
    border-color: #fff; // Changing border color
    padding: 0 2rem; // Spaicing inside the element
  }

  // Container for collections of images
  .gallery {
    margin: 0.5rem 0; // Spacing outside the element

    // Image grid
    &__grid {
      display: grid; // Activate grid
      grid-template-columns: repeat(6, 1fr); // 6 images per row
      grid-template-rows: 1fr; // Equal row width
      grid-column-gap: 0.5rem; // Spacing between columns
      grid-row-gap: 0.5rem; // Spacing between rows
    }

    // Image inside grid cell
    &__image {
      display: flex; // Activate flex
      justify-content: center; // Align items center on the main axis
      align-items: center; // Align items center on the cross axis
      overflow: hidden; // Hide parts of items that are flowing over the container
      max-width: 3rem;
      max-height: 3rem;
      border-radius: 0.625rem; // Border roundness
      background-color: var(--color-transparent); // Colored background for empty cell

      // File upload button in the first grid
      input[type='file'] {
        display: none; // Hiding the upload file button
      }

      //
      img {
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
      }

      label {
        display: flex; // Activate flexbox
        align-items: center; // Aligning items center on the cross axis
        justify-content: center; // Aligning items center on the main axis
        height: 100%; // Take as much space as possible vertically
        font-size: 1.5rem; // Size of the '+'
        width: 3rem;
        height: auto;
      }
    }

    // Title of each gallery
    &__title {
      margin-bottom: 0.5rem; // Spacing under the title
    }
  }
}
