/* RaffleWinnersPage component
--------------------------- */
.rafflewinnerspage {
  margin-top: 6rem; // Spacing outside the element, top
  padding: 0 1rem; // Spacing inside the element

  // Group of the raffle components
  &__group {
    display: flex; // Activate flex
    flex-direction: column; // Aligning items under each other

    // "Join The Raffle" button
    button {
      align-self: center; // Aligning the button center
      padding: 0 1rem; // Spacing inside the element
    }
  }

  // Last paragraph of the page
  &__chance {
    text-align: center; // Aligning text center
  }
}
