/* RaffleWinnersPage component
--------------------------- */
.rafflewinnerspage {
  margin-top: 6rem;
  padding: 0 1rem;

  &__group {
    display: flex;
    flex-direction: column;

    button {
      align-self: center;
      padding: 0 1rem;
    }
  }

  &__chance {
    text-align: center;
  }
}
