/* Homepage styles
-----------------*/
.homepage {
  background-image: url('/src/assets/legion_icon-bg.svg');
  background-repeat: no-repeat; // Only 1 background image
  background-position: top 60% left -10%; // Position of the background image
  background-size: 15rem;
}
