/* Homepage styles
-----------------*/
.homepage {
  background-image: url('/src/assets/legion_icon-bg.svg');
  background-repeat: no-repeat;
  background-position: top 60% left -10%;
  background-size: 15rem;
}
