/* ProfileCard component
------------------------- */
.profilecard {
  display: flex; // Activate flexbox
  align-items: center; // Centering items
  flex-direction: column; // Staking on top of each other
  background-color: var(--card-bg); // Setting background color
  position: relative; // Needed for positioning
  border-radius: 0.625rem; // 10px border radius
  align-self: flex-start; // Background is sized to the content, not the cell
  padding: 0 1rem 1rem; // Spacing inside the element
  margin: 13rem 0rem 1rem; // Spacing outside the element
  background-color: var(--color-transparent);

  @media (min-width: 26.75em) {
    margin: 17rem 0rem 1rem; // Spacing outside the element
  }

  @media (min-width: 36em) {
    margin: 20rem 0rem 1rem; // Spacing outside the element
  }

  // User info container
  &__content {
    text-align: center;

    button {
      padding: 0 2rem; // Spacing inside the element
      border-color: #fff;
    }
  }

  // Container of username and full name
  &__user {
    // Username
    h3 {
      margin-bottom: 0; // Spacing outside the element
    }
  }

  // Profilecards image
  &__avatar {
    padding: 0 4rem; // Extra spacing inside of the element
    width: 100%; // Taking up 100% of space horizontally
    transform: translateY(-50%); // Moving the image up on the Y axis

    // Needed for the responsive image
    div {
      img {
        border: 7px solid transparent; // Border around the profile image
        background: linear-gradient(#7800c6, #7000ff) padding-box,
          linear-gradient(#7800c6, #7000ff) border-box; // Color styles of the border
        border-radius: 50%; // Round corners
      }
    }
  }
}

// Challenges button
.profile__challenges {
  width: 100%; // Take as much space as possible horizontally
  border-radius: 0.625rem; // 10px corners radius
  color: #fff; // Text color
  font-weight: 700; // Text thickness
  height: 3.5rem;
  background-image: url('/src/assets/button-assets/button-bg.svg'); // The image in the button
  background-size: cover;
  background-position: center; // Positioning of the image in the button
  background-color: var(--color-transparent);
}
