/* ProfileCard component
------------------------- */
.profilecard {
  display: flex; // Activate flexbox
  align-items: center; // Centering items
  flex-direction: column; // Staking on top of each other
  background-color: var(--card-bg); // Setting background color
  position: relative; // Positioned according to the normal flow of the document, and then offset relative to itself based on the values of top, right, bottom, and left
  border-radius: 0.625rem; // 10px border radius
  align-self: flex-start; // Background is sized to the content, not the cell
  padding: 0 1rem 1rem; // Spacing inside the element
  margin: 13rem 0rem 1rem;
  background-color: var(--color-transparent);

  @media (min-width: 26.75em) {
    margin: 17rem 0rem 1rem;
  }

  @media (min-width: 36em) {
    margin: 20rem 0rem 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    button {
      padding: 0 2rem;
      border-color: #fff;
    }
  }

  &__user {
    h3 {
      margin-bottom: 0;
    }
  }

  // Profilecards image
  &__avatar {
    padding: 0 4rem; // Extra spacing inside of the element
    width: 100%; // Taking up 100% of space horizontally
    transform: translateY(-50%); // Moving the image up on the Y axis

    div {
      img {
        border: 7px solid transparent; // Border around the profile image
        background: linear-gradient(#7800c6, #7000ff) padding-box,
          linear-gradient(#7800c6, #7000ff) border-box; // Color styles of the border
        border-radius: 50%; // Round corners
      }
    }
  }
}

.profile__challenges {
  width: 100%;
  border-radius: 0.625rem;
  color: #fff;
  font-weight: 700;
  height: 3.5rem;
  background-image: url('/src/assets/button-assets/button-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-transparent);
}
